html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #2C2141;
    min-height: 100vh;
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.form {
    max-width: 600px;
    width: 100%;
}